<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Booking</title>
</head>
<body onload="setMinValues()">
<form action="/search/" method="get" onsubmit="return validateForm()">
    From: <select id="source" name="source" required>
                <option value="">--Select--</option>
            {% for station in stations %}
                <option value="{{stations[station]}}">{{station}}</option>
            {% endfor %}
        </select><br>
    To: <select id="destination" name="destination" required>
                <option value="">--Select--</option>
            {% for station in stations %}
                <option value="{{stations[station]}}">{{station}}</option>
            {% endfor %}
        </select><br>
    Day: <input required type="date" name="day" placeholder="today"><br>
    Time: <input required type="time" name="time"><br>
    <input type="submit" value="Submit">
</form>
<script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>